<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform
      processPath="D:\Program Files (x86)\nodejs\20.18.0\node.exe"
      arguments="server.js"
      stdoutLogEnabled="true"
      stdoutLogFile="\\?\%home%\LogFiles\nodejs"
      startupTimeLimit="60"
      startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
        <environmentVariable name="NODE_ENV" value="production"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
